:80 {
	encode zstd gzip

	handle /api/* {
		reverse_proxy backend:5000
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}

	header {
		Referrer-Policy "strict-origin-when-cross-origin"
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
	}
}
